About sample page


<section>
    <h2>Typography</h2>

    <!--
      You need to import `@material/typography/mdc-typography` in SCSS for
      these classes to work. See the Typography.scss file.
    -->

    <div class="mdc-typography--headline1">Headline 1</div>

    <div class="mdc-typography--headline2">Headline 2</div>

    <div class="mdc-typography--headline3">Headline 3</div>

    <div class="mdc-typography--headline4">Headline 4</div>

    <div class="mdc-typography--headline5">Headline 5</div>

    <div class="mdc-typography--headline6">Headline 6</div>

    <div class="mdc-typography--subtitle1">Subtitle 1</div>

    <div class="mdc-typography--subtitle2">Subtitle 2</div>

    <div class="mdc-typography--body1">Body 1</div>

    <div class="mdc-typography--body2">Body 2</div>

    <div class="mdc-typography--caption">Caption</div>

    <div class="mdc-typography--button">Button</div>

    <div class="mdc-typography--overline">Overline</div>

    <div class="mdc-typography--body1">
        <small>small</small>
        <big>big</big>
        <sup>sup</sup>
        <sub>sub</sub>
        <strong>strong</strong>
        <em>em</em>
    </div>
</section>