<script lang="ts">
    import {Route, router} from 'tinro';
    import Main from './Main.svelte';
    import About from './About.svelte';
    import TopAppBar, {Row, Section, Title, FixedAdjust} from '@smui/top-app-bar';
    import IconButton from '@smui/icon-button';
    import Menu from '@smui/menu';
    import List, {Item, Text} from '@smui/list';
    export let name: string;

    let appMenu:Menu
    let collapsed = false;
    let title = 'Standard';
</script>

<main>
    <TopAppBar variant='standard' bind:collapsed>
        <Row>
            <Section>
                <IconButton class="material-icons" on:click={() => appMenu.setOpen(true)}>menu</IconButton>
                <Menu bind:this={appMenu} anchorCorner="BOTTOM_LEFT">
                    <List>
                        <Item on:SMUI:action={() => router.goto('/')}>
                            <Text>Home</Text>
                        </Item>
                        <Item on:SMUI:action={() => router.goto('/about')}>
                            <Text>About</Text>
                        </Item>
                    </List>
                </Menu>
                <Title>{title}</Title>
            </Section>
            <Section align="end" toolbar>
                <IconButton class="material-icons" aria-label="Home" href="/">home</IconButton>
                <IconButton class="material-icons" aria-label="About" href="/about">settings</IconButton>
            </Section>
        </Row>
    </TopAppBar>
    <div use:FixedAdjust>
        <Route path="/">
            <Main name={name}/>
        </Route>
        <Route path="/about">
            <About/>
        </Route>
    </div>
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>